body {
    background-color: rgb(0, 0, 0);
}
.usuario-no-selecciona{
    user-select: none;
}


input {
    height: 25px;
}
input::placeholder {
    font-size: 12px;
}
select {
    width: 190px;
}
select option {
    font-size: 12px;
}


.contenedor-iconos {
    width: 200px;
    height: 25px;
    border-radius: 3px;
    padding: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: #807b7b;
    color: aliceblue;
}
.fa-brands {
    margin-right: 10px;
}


.card-footer {
    display: flex;
    justify-content: end;
}
.boton-cancel {
    width: fit-content;
    height: fit-content;
    margin-right: 6px;
}
.boton-send {
    width: fit-content;
    height: fit-content;
}
