

.usuario-no-selecciona{
    user-select: none;
}

span {
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    margin-bottom: 6px;
}

input {
    height: 25px;
}

input::placeholder {
    font-size: 12px;
}

select {
    width: 190px;
}

select option {
    font-size: 12px;
}

#contenedor-iconos {
    width: 200px;
    height: 25px;
    padding: 3px;
    border-radius: 3px;
    display:flex;
    text-align: center;
    justify-content: space-between;
}

#contenedor-iconos span {
    color: aliceblue;
}